data/GGM03S.txt
data/SGG-UGM-2.txt
data/norway_geoid_height.txt
geoid_calc_scandinavia_GGM03S.csv
GNSS_Norway_geoiheight_GGM03S.csv
ECCO_data/2005.txt
ECCO_data/2006.txt
ECCO_data/2007.txt
ECCO_data/2008.txt
ECCO_data/2009.txt
ECCO_data/2010.txt
ECCO_data/2011.txt
ECCO_data/2012.txt
ECCO_data/2013.txt
ECCO_data/2014.txt
ECCO_data/2015.txt
